mixin test()

    +b('section').test
        +e.wrap
            +e.head
                +e.arrow
                +e.counter
                    +e('p').counter-text
                +e('p').title
            +e('ul').list
                +e('li').item(data-id='А')
                    +e.sign
                        +e('span').sign-text
                    +e.answer
                        +e('p').answer-text
                +e('li').item(data-id='Б')
                    +e.sign
                        +e('span').sign-text
                    +e.answer
                        +e('p').answer-text
                +e('li').item(data-id='В')
                    +e.sign
                        +e('span').sign-text
                    +e.answer
                        +e('p').answer-text
