mixin promo-content()

    +b.promo-content
        +e('p').text Они нашли друг друга недавно и, как казалось, навсегда. Романтическая идиллия одного знойного лета нарушена нежданными гостями — там, где вчера господствовала всепрощающая любовь, теперь закипают страсти, грозящие жестокой развязкой.
        +e.row 
            +e.quotes
                +e('p').quote — Любить меня вечно не получится.
                +e('p').quote — Пожалуй, я рискну...
            +e.info
                +e('p').info-text Эротический триллер «Соври мне правду» стал азбукой манипуляций, обнажающей обратную сторону любви. Премьера в кинотеатрах России состоится уже 9 сентября.
                +e('p').info-text Фильм взял награду старейшего международного кинофестиваля независимого кино WorldFest-Houston в номинации «Лучший режиссерский дебют», заслужил специальное упоминание жюри фестиваля Hollywood New Directors и принял участие в основных конкурсных программах именитых кинофестивалей, в том числе Международного кинофестиваля женщин-режиссеров «Женский взгляд» и Монреальского фестиваля независимого кино.