mixin test-intro()

    +b('section').test-intro
        +e.close
            img(src='/images/close.svg')
        +e('h4').title Пособие кукловода:
        +e.info
            +e.info-wrap
                +e('p').info-text Доверие и ревность, страсть и страх — от любви до ненависти всего один шаг. В какой момент поддержка оборачивается моральным давлением, а правда — манипуляцией? Как понять, что красная линия пересечена и перед вами уже не тот человек, которого вы однажды полюбили? Пройдите тест и расставьте точки над i.
        +e.actions
            +e('button').btn Пройти тест