@font-face
	font-family 'CenturyGothic'
	src url('../../fonts/CenturyGothic.woff') format('woff')

@font-face
	font-family 'CenturyGothic'
	src url('../../fonts/CenturyGothic-Bold.woff') format('woff')
	font-weight bold

@font-face
	font-family 'TrajanPro3'
	src url('../../fonts/TrajanPro3.woff') format('woff')
