$CenturyGothic = 'CenturyGothic', sans-serif
$CenturyGothicBold = 'CenturyGothic-Bold', sans-serif
$TrajanPro3 = 'TrajanPro3', sans-serif

$c-white = #fff
$c-black = #000
$c-grey = grey
$c-grey-frame = #F3F2F2
$c-red = #950000
$c-dark-red = #A40101
$c-light-black = #1E0A0A